title= $title

link(rel="icon", href="#{IMG}/favicon.ico")

link(rel="stylesheet", href="#{CSS}/bootstrap.css")
link(rel="stylesheet", href="#{CSS}/bootstrap-theme.css")
link(rel="stylesheet", href="#{CSS}/reset.css")

script(type="text/javascript", src="#{JS}/libs/jquery.js")
script(type="text/javascript", src="#{JS}/libs/bootstrap.js")
script(type="text/javascript", src="#{JS}/libs/moment.js")
script(type="text/javascript", src="#{JS}/libs/ajax.js")

meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=false")
